.detailsPageContainer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.generalInfoContainer {
    display: flex;
    gap: 10px;
}

.generalInfoText {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 20px;
}

.additionalInfoContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.additionalInfoContainer a {
    text-decoration: underline;
    color: rgb(116, 169, 204);
}