.detailsPageContainer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.generalInfoContainer {
    display: flex;
    gap: 10px;
}

.moviePosterContainer {
    max-width: 100%;
    max-height: 100%;
}

.generalInfoText {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 20px;
}

.additionalInfoContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}