a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #c4c4c4;
  text-decoration: underline;
}

ul {
  margin: 0;
  list-style-type: none;
}

li {
  text-decoration: underline;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin: 0px;
  padding-bottom: 10px;
}

p {
  margin: 0px;
  font-weight: bold;
}

button {
  height: 40px;
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #464646;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #1fc5c5;
}

.active {
  color: orange;
}

footer {
  font-size: 10px;
  position: sticky;
  text-align: center;
  padding: 10px;
}